<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="../static/javascript/paho-mqtt.js" type="text/javascript"></script>
        
        <title>TDC</title>
	</head>

	<body>
        <div class="msc_qrapper">
            <p class="msc_info">Hello</p>
        </div>
    
		<script type="text/javascript" src="../static/javascript/sick.js"></script>

	</body>
</html>