<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Your own stylesheet -->
		<link rel="stylesheet" type="text/css" href="../static/css/sick.css">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="../static/javascript/paho-mqtt.js" type="text/javascript"></script>
        
        <title>TDC</title>
	</head>

	<body>
        <div class="main_wrapper">
            <div class="header top_wrapper">
                <div class="welcome_message">Welcome</div>
                <div class="dropdown_wrapper">
                    <div class="dropdown">
                        <button onclick="DropDown()" class="dropbtn">Menu</button>
                        <div id="DropdownContent" class="dropdown_content">
                            <a href="#output" id="drop_output" onclick="drop_output()">Output Comms</a>
                            <a href="#msc800" id="drop_msc" onclick="drop_msc()">MSC800</a>
                            <a href="#software" id="drop_software" onclick="drop_software()">Software</a>
                            <a href="#errors" id="drop_errors" onclick="drop_errors()">Errors</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test_wrapper" id="test_wrapper_id">
                <div class="message_wrapper">
                    <div class="heading">
                        Send a message to the TDC Dashboard
                    </div>
                    <div class="content">
                        <input type="text" id="txt_message">
                        <button type="submit" onclick="SendMessage()">Send</button>
                    </div>                    
                </div>
                <div class="output_btn_wrapper">
                    <div class="heading">
                        Change the Digital Output 1 on the MSC800
                    </div>
                    <div class="content">
                        <button type="submit" onclick="changeOutput()">Change</button>
                    </div>
                </div>
            </div>
            <div class="msc_wrapper" id="msc_wrapper_id">        
                    <div class="label_wrapper">   
                        <div class="heading">
                            Values to be monitored
                        </div>
                        <div class="content2">               
                            <div class="labels" id="msc_device_name_label">Device name:</div>
                            <div class="labels" id="msc_device_id_label">Device ID:</div>
                            <div class="labels" id="msc_system_ready_label">System ready:</div>
                            <div class="labels" id="msc_dio_1_label">Digital Input 1:</div>
                        </div>
                    </div>
                    <div class="info_wrapper">
                        <div class="heading">
                            Values received over heartbeat from the MSC800
                        </div>
                        <div class="content2">
                            <div class="labels" id="msc_device_name_info">Device name:</div>
                            <div class="labels" id="msc_device_id_info">Device ID:</div>
                            <div class="labels" id="msc_system_ready_info">System ready:</div>
                            <div class="labels" id="msc_dio_1_info">Digital Input 1:</div>
                        </div>
                    </div>
            </div>
            <div class="software_wrapper" id="software_wrapper_id">
                <div class="label_wrapper">
                    <div class="heading">
                        Values to be monitored from SWAD Software
                    </div>
                    <div class="content2"> 
                        <div class="labels" id="software_number_label">Number:</div>
                        <div class="labels" id="software_date_label">Date:</div>
                        <div class="labels" id="software_time_label">Time:</div>
                        <div class="labels" id="software_barcode_label">Barcode:</div>
                        <div class="labels" id="software_length_label">Length:</div>
                        <div class="labels" id="software_width_label">Width:</div>
                        <div class="labels" id="software_height_label">Height:</div>
                        <div class="labels" id="software_volume_label">Volume:</div>
                        <div class="labels" id="software_weight_label">Weight:</div>
                    </div>
                </div>
                <div class="info_wrapper">
                    <div class="heading">
                        Values sent from the SWAD software
                    </div>
                    <div class="content2">
                        <div class="labels" id="software_number_info">Number:</div>
                        <div class="labels" id="software_date_info">Date:</div>
                        <div class="labels" id="software_time_info">Time:</div>
                        <div class="labels" id="software_barcode_info">Barcode:</div>
                        <div class="labels" id="software_length_info">Length:</div>
                        <div class="labels" id="software_width_info">Width:</div>
                        <div class="labels" id="software_height_info">Height:</div>
                        <div class="labels" id="software_volume_info">Volume:</div>
                        <div class="labels" id="software_weight_info">Weight:</div>
                    </div>
                </div>
            </div>
            <div class="error_wrapper" id="error_wrapper_id">
                <div class="label_wrapper">
                    <div class="heading">
                        Simulated elements to be monitored
                    </div>
                    <div class="content2">
                        <div class="labels" id="icr890_1_error_label">ICR890_1</div>
                        <div class="labels" id="scale_error_label">Scale</div>
                    </div>
                </div>
                <div class="info_wrapper">
                    <div class="heading">
                        Simulated errors received
                    </div>
                    <div class="content2">
                        <div class="labels" id="icr890_1_error_info">Error:</div>
                        <div class="labels" id="scale_error_info">Error:</div>
                    </div>
                </div>
            </div>
        </div>
    
		<script type="text/javascript" src="../static/javascript/sick.js"></script>

	</body>
</html>